---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: oauth2-sso
  namespace: istio-system
stringData:
  SESSION_KEY: "00000000000000000000000000000000"
  PORT: ""
  SESSION_STORE_TYPE: redis
  SESSION_STORE_REDIS: "oauth2-sso-redis:6379"
  OAUTH2_CONFIG_FILE: /opt/sso/config.json
  config.json: |-
    {
      "configs": [
        {
          "ID": "UUID",
          "Vault": {
            "VaultAddr": "https://vault.example.com",
            "AuthMethod": "cluster-name",
            "Role": "istio-oauth-reader",
            "Namespace": "",
            "Path": "devops/test/foobar"
          },
          "OAuth2": {
            "ClientID": "",
            "ClientSecret": "",
            "Endpoint": {
                "AuthURL": "https://login.microsoftonline.com/common/oauth2/authorize",
                "TokenURL": "https://login.microsoftonline.com/common/oauth2/token"
            },
            "RedirectURL": "http://localhost/callback"
          },
          "LogoutURL": "https://login.microsoftonline.com/common/oauth2/logout",
          "CookieName": "oauth2_sso",
          "DefaultRedirectURI": "https://example.com",
          "SSODomains": [
            {
              "Domain": "localhost",
              "Endpoint": "http://localhost/sso"
            },
            {
              "Domain": ".example.com",
              "Endpoint": "https://example.com/sso"
            }
          ]
        }
      ]
    }

